.content__weatherDetail{
	border: 1px solid red;
	width: 50%;
    height: 100vh;
}

.content__weatherDetail--overview{
    width: 300px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 6px #d015da;
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: black;
}

.overview__img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 140px;
    flex: 30%;
    left: 20px;
}

.overview__info{
    flex: 60%;
    margin-left: 10px;
    color: white;
}

.info__areaName{
    font-size: 24px;
    font-weight: 1000;
    text-shadow: 0px 0px 10px #fb04ff;
}

.info__Detail{
    margin-top: 8px;
    display: flex;
}

.title{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.content{
    font-weight: 100;
}

#info__Rain{
    margin-left: 20px;
}