<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vivian 總體畫面基礎的 css 和 js -->
	<link rel="stylesheet" type="text/css" href="/static/css/Vivian_Common.css" />
    <script defer src="/static/js/Vivian_Common.js"></script>
    <!-- Angel 天氣資料的 css 和 js -->
    <link rel="stylesheet" type="text/css" a href="/static/css/Angel_WeatherDetail.css"/>
    <script defer src="/static/js/Angel_WeatherDetail.js"></script>
    <!-- Lulu 天氣地圖的 css 和 js-->
    <link rel="stylesheet" type="text/css" a href="/static/css/Lulu_Map.css"/>
    <script defer src="/static/js/Lulu_Map.js"></script>
</head>
<body>
    <div class="nav"></div>
    <div class="main">
        <div class="content__weatherDetail"></div>
        <div class="content__map"></div>
    </div>
    <div class="footer"></div>
</body>
</html>